.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap;
    /* align-items: ; */
}
.footer li{
    list-style-type: none;
    margin: 30px 0;
    cursor: pointer;
}
.footer ul h3{
    font-size: 25px;
    margin: 30px 0;
}
.footer ul{
   width: 200px;
  
}